.user-card{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}
.user-card-email{
    flex-grow: 1;
    text-align: right;
}
.user-card-age{
    width: 20%;
    text-align: right;
}
.user-selected{
    padding: 18px;
    border: 2px solid blue;
    border-radius: 5px;
}